:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  width: 120px;
  height: 40px;
}

.hero-wrap {
  width: 100%;
  height: 800px;
  position: relative;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.job-post-item {
  z-index: 0;
  background: #f8f9fa !important;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.job-post-item h2 {
  font-size: 28px;
}

.job-post-item h2 a {
  color: #000000;
}

.job-post-item .one-third {
  width: calc(100% - 145px);
}

@media (max-width: 991.98px) {
  .job-post-item .one-third {
    width: 100%;
  }
}

.job-post-item .one-third .subadge {
  color: rgba(0, 0, 0, 0.3);
  color: #206dfb;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.job-post-item .one-forth {
  width: 145px;
}

@media (max-width: 991.98px) {
  .job-post-item .one-forth {
    width: 100%;
  }
}

.job-post-item .one-forth>div .icon {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.job-post-item .icon {
  border: none !important;
  background: #ffefdb !important;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 992px) {
  .job-post-item .icon {
    opacity: 0;
  }
}

.job-post-item .icon span {
  color: #fdab44;
}

.job-post-item .job-post-item-body span,
.job-post-item .job-post-item-body a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.job-post-item:hover,
.job-post-item:focus {
  -webkit-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
  border: none;
}

.job-post-item:hover .icon,
.job-post-item:focus .icon {
  background: #fdab44 !important;
  opacity: 1;
}

.job-post-item:hover .icon span,
.job-post-item:focus .icon span {
  color: #fff;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.ftco-section-parallax {
  position: relative;
}

.ftco-section-parallax .parallax-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 4em 0;
  background: #206dfb;
}

.ftco-section-parallax .heading-section-white h2 {
  font-weight: 400 !important;
}

.ftco-section {
  padding: 6em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

@media (max-width: 991.98px) {
  .hero-wrap {
    height: 900px;
  }
}

.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.8;
  background: #000000;
  background: #207dff;
  background: -moz-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -webkit-gradient(left top,
      right top,
      color-stop(0%, #207dff),
      color-stop(100%, #a16ae8));
  background: -webkit-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -o-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -ms-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#207dff),
      to(#a16ae8));
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207dff', endColorstr='#a16ae8', GradientType=1);
}

.hero-wrap .slider-text {
  height: 800px;
  z-index: 0;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .hero-wrap .slider-text {
    text-align: center;
    height: 900px;
  }
}

.hero-wrap .slider-text .subheading {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  color: #000000;
}

.hero-wrap .slider-text .text {
  position: relative;
  z-index: 1;
}

.hero-wrap .slider-text h1 {
  font-size: 54px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}

.hero-wrap .slider-text h1 span {
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .hero-wrap .slider-text h1 {
    font-size: 50px;
  }
}

@media (max-width: 767.98px) {
  .hero-wrap .slider-text h1 {
    font-size: 40px;
  }
}

.hero-wrap .slider-text p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.hero-wrap .slider-text p .number {
  color: #fdab44;
}

.hero-wrap .slider-text .btn-custom {
  color: #fff;
  background: #206dfb;
  padding: 10px 20px;
}

.hero-wrap.hero-wrap-2 {
  height: 400px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 1199.98px) {
  .hero-wrap.hero-wrap-2 {
    background-position: top center !important;
  }
}

.hero-wrap.hero-wrap-2 .slider-text {
  height: 400px !important;
}

@media (max-width: 991.98px) {
  .hero-wrap.hero-wrap-2 .slider-text {
    text-align: center;
    height: 400px !important;
  }
}

.hero-wrap.hero-wrap-0 {
  height: 200px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 1199.98px) {
  .hero-wrap.hero-wrap-0 {
    background-position: top center !important;
  }
}

.hero-wrap.hero-wrap-0 .slider-text {
  height: 200px !important;
}

@media (max-width: 991.98px) {
  .hero-wrap.hero-wrap-0 .slider-text {
    text-align: center;
    height: 400px !important;
  }
}

.bg {
  background-color: #f4f4f4 !important;
}

.nav-link {
  color: black;
  font-weight: 500;
}

.btn {
  border-radius: 0.3rem;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.img-intro {
  width: 350px;
  margin: 0 auto;
  margin-top: -55px;
  margin-right: 0;
}

.intro {
  margin-top: 60px;
}

.intro h1 {
  margin-bottom: 20px;
}

@media (max-width: 770px) {
  .img-intro {
    margin: 0 auto;
    width: auto;
  }
}

.navbar-light .navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border: none;
  box-shadow: none;
}

/* Investimento */
.invest {
  background: #4455dd;
  padding: 60px 0;
  margin-bottom: 60px;
}

.invest-item {
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  margin: 0 15px;
  margin-bottom: 20px;
  padding: 30px 0px 30px 30px;
  border-radius: 0.3rem;
}

@media (min-width: 992px) and (max-width: 1140px) {
  .invest-item {
    flex-basis: 330px;
  }
}

.invest-item h2 {
  font-weight: 500;
  font-size: 1.25rem;
}

.invest-item h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #4455dd;
}

.invest-item h3::after {
  content: '';
  display: block;
  background: #dedede;
  width: 40px;
  height: 2px;
  margin-top: 10px;
}

.invest-item span {
  color: #808080;
  font-weight: 500;
}

.btn-invest {
  display: block;
  width: 200px;
  padding: 0.62rem 0.75rem;
  text-align: left;
  margin-top: 1rem;
}

.btn-invest i {
  font-size: 1.3rem;
  align-items: center;
  margin-left: 77px;
}

/* Vantagens */
.vantagens {
  margin-bottom: 60px;
}

.vantagens h1 {
  text-align: center;
}

.vantagens-itens {
  margin: 0 15px;
  text-align: center;
}

.vantagens-itens h2 {
  font-size: 1.25rem;
  color: #000000;
}

@media (max-width: 770px) {
  .img-vantagens {
    margin: 0 auto;
    width: auto;
  }

  .vantagens-itens {
    margin: 0;
  }
}

.proffy {
  display: flex;
  justify-content: center;
}

.blockquote p {
  color: #ffffff;
  margin-top: 120px;
  font-size: 2.55rem;
  max-width: 680px;
  line-height: 45px;
}

.blockquote cite {
  font-size: 1.25rem;
  color: #afafaf;
}

.img-citacao {
  height: 150px;
  padding-top: 140px;
  margin-left: -15px;
}

@media (max-width: 1140px) {
  .img-citacao {
    padding-top: 130px;
  }
}

@media (max-width: 770px) {
  .blockquote p {
    margin-top: 170px;
    font-size: 1.55rem;
    line-height: 28px;
  }

  .img-citacao {
    width: 300px;
    position: relative;
    top: 40px;
  }
}

.form-control {
  background-color: #dddddd;
}

.form-control:focus,
.form-control:hover {
  background-color: #dddddd;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.form-group label {
  font-size: 1.25rem;
  font-weight: 500;
}

.conta-campos h1 {
  color: #000000;
}

.conta-campos {
  margin-top: 60px;
}

.conta-icone {
  width: 400px;
  margin: 0 auto;
  margin-left: 200px;
  margin-top: 10px;
}

@media (max-width: 770px) {
  .conta-icone {
    margin-left: auto;
    width: auto;
  }
}

/* footer */
.mapa-site span {
  display: block;
}

.redes-sociais-item {
  display: inline-block;
}

footer {
  background: #000000;
  padding: 30px 0;
}

footer h2 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}

footer span {
  font-size: 1rem;
  color: #808080;
  cursor: pointer;
}

.copy {
  background: #4455dd;
  text-align: center;
  padding: 1.2rem 0;
}

.redes-sociais-item {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: 0 5px;
  margin-top: 8px;
}

.footer-item p {
  font-size: 1rem;
  color: #808080;
}

.footer-item {
  margin-bottom: 20px;
}

.copy p {
  color: #ffffff;
  margin: 0;
}

/* Inscrição */
.intro-inscri {
  text-align: center;
  background: #4455dd;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  padding: 1.5rem 0;
}

.inscri-cadastro {
  margin: 60px 0;
}

.inscri-progress {
  background: #dddddd;
  width: 460px;
  height: 2px;
  margin: 0 auto;
}

.ponto-1 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #7885ef;
  background: #4455dd;
  position: relative;
  top: -7px;
}

.ponto-2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #7885ef;
  background: #ffffff;
  position: relative;
  top: -23px;
  left: 230px;
}

.ponto-3 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #7885ef;
  background: #ffffff;
  position: relative;
  top: -39px;
  left: 460px;
}

.progress-1 {
  background: #4455dd;
  width: 220px;
  height: 2px;
  position: relative;
  top: -16px;
  left: 16px;
}

.progress-2 {
  background: #4455dd;
  width: 220px;
  height: 2px;
  position: relative;
  top: -34px;
  left: 246px;
}

.footer-info-item span {
  display: block;
}

.container-inscri-2 {
  width: 425px;
}

.container-inscri-3 {
  width: 50%;
}

.inscri-progress-info {
  width: 550px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.inscri-progress-info-item h2 {
  font-size: 1.25rem;
  color: #000000;
}

.inscri-progress-info-item span {
  font-size: 1rem;
  color: #808080;
}

.inscri-3-monitor {
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 580px) {
  .ponto-2 {
    display: none;
  }

  .ponto-3 {
    display: none;
  }

  .ponto-1 {
    margin-left: 24%;
  }

  .inscri-progress {
    background: none;
    width: 3%;
  }

  .inscri-progress-info-item:nth-of-type(2) {
    display: none;
  }

  .inscri-progress-info-item:nth-of-type(3) {
    display: none;
  }

  .inscri-progress-info {
    width: 30%;
    display: block;
  }
}