  <div ng-controller="FreelancerController">

    <div class="hero-wrap hero-wrap-0" style="background-image: url('images/bg_1.jpg');"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-10">

            <h1 class="mb-3 bread">Criar Novo Serviço</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light"></section>
    <div class="container" style="display: flex; justify-content: center;">
      <div class="row">

        <div class="col-md-12 col-lg-12 mb-5">

          <form class="p-5 bg-white" novalidate>

            <div class="row form-group">
              <div class="col-md-8">
                <h4>Valor por hora</h4>
                <label for="price">
                  <input type="range" id="price" min="0" max="1000" ng-model="valor"><span class="text-success"> R$
                    {{valor}},00</span>

                </label>
              </div>

            </div>

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="fullname">Título</label>
                <input type="text" id="fullname" class="form-control" placeholder="Profissional em ....">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h4>Turno</h4>
              </div>

              <div class="col-md-12 mb-3 mb-md-0">

                <label class="checkbox-inline col-md-3" for="option-time-1">
                  <input type="checkbox" id="option-time-1" name="job-type"> Manhã
                </label>

                <label class="checkbox-inline col-md-3" for="option-time-2">
                  <input type="checkbox" id="option-time-2" name="job-type"> Tarde
                </label>

                <label class="checkbox-inline col-md-3" for="option-time-3">
                  <input type="checkbox" id="option-time-3" name="job-type"> Noite
                </label>
              </div>

            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h4>Dias da semana</h4>
              </div>

              <div class="col-md-12 mb-3 mb-md-0">

                <label class="checkbox-inline col-md-3" for="option-day-1">
                  <input type="checkbox" id="option-day-1" name="job-type"> Domingo
                </label>

                <label class="checkbox-inline col-md-3" for="option-day-2">
                  <input type="checkbox" id="option-day-2" name="job-type"> Segunda
                </label>

                <label class="checkbox-inline col-md-3" for="option-day-3">
                  <input type="checkbox" id="option-day-4" name="job-type"> Terça
                </label>

                <label class="checkbox-inline col-md-3" for="option-day-4">
                  <input type="checkbox" id="option-day-4" name="job-type"> Quarta
                </label>

                <label class="checkbox-inline col-md-3" for="option-day-5">
                  <input type="checkbox" id="option-day-5" name="job-type"> Quinta
                </label>

                <label class="checkbox-inline col-md-3" for="option-day-6">
                  <input type="checkbox" id="option-day-6" name="job-type"> Sexta
                </label>

                <label class="checkbox-inline col-md-3" for="option-day-7">
                  <input type="checkbox" id="option-day-7" name="job-type"> Sábado
                </label>
              </div>

            </div>

            <div class="row form-group mb-4">
              <div class="col-md-12">
                <h4>Local</h4>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <input type="text" class="form-control" placeholder="Santa Rita do Sapucaí 
                ">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h4>Descriçao</h4>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <textarea name="" class="form-control" id="" cols="30" rows="5"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <h4>Imagens <h6>(Máx 3 imagens)</h6>
                </h4>
                <input id="file-input" type="file" multiple class="form-control col-md-12">
                <div class="col-md-3" id="preview" style="width:9.5rem; margin-top:10px;"></div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Salvar" class="btn btn-primary  py-2 px-5">
              </div>
            </div>
          </form>
        </div>
      </div>