<style>
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
  
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box
  {
   height: 510px;
   width: 100%;
    overflow-y: scroll;
  }

  .chat-box {
   height: 510px;
   width: 100%;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }
</style>

<div class="container py-5 px-4">
    <a ui-sref="{{salesUser}}" ui-sref-active="active"><i class="fa fa-reply fa-2x voltar"
      style="z-index: 99999; position:absolute; color: #4455dd  ; cursor: pointer; margin-top: 0.5rem; "
      aria-hidden="true"></i></a>
  

  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div id="users" class="col-5 px-0" style="display: block;">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1" style="position: relative;
          left: 150px;">Recentes</p>         
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">
            <a class="list-group-item list-group-item-action active text-white rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">{{client}}</h6><small class="small font-weight-bold">{{time}}</small>
                  </div>
                  <p class="font-italic mb-0 text-small">{{messageClient}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">
          
        <!-- Sender Message-->

        <div class="msg_history">

        </div>
        
    </div>
    
          <!-- Typing area -->
          <form  class="bg-light">
            <div class="input-group" id="msg">
              <input type="text" placeholder="Digite a mensagem" aria-describedby="button-addon2" ng-model="message" class="form-control rounded-0 border-0 py-4 bg-light">
              <div class="input-group-append">
                <button id="button-addon2" class="btn btn-link" ng-click="sendMessage()"> <i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </form>
</div>
</div>