<div class="container intro" ng-controller="MainController">
  <div class="row">
    <div class="col-md-5">
      <h1>EasyJob</h1>
      <h2>Contratar freelancers para seu negócio agora ficou fácil.</h2>
      <br />
      <br />
      <a ui-sref="login" ui-sref-active="active" alt="contratar">
        <button class="btn btn-primary my-2 my-sm-0" type="submit"><a ui-sref="loginestablish"
            style="text-decoration: none; color: white;">Buscar Freelancer</a></button>
      </a>
    </div>

    <div class="col-md-7">
      <div class="img-intro">
        <img class="lozad" src="./img/notre-dame.svg" loading="lazy" class="img-fluid" alt="icone">
      </div>
    </div>
  </div>
</div>

<section class="invest">
  <div class="container">
    <div class="row">

      <div class="col-md invest-item">
        <h1 style="display:flex; justify-content: center; align-self: center;"> 1 </h1>
        <h2 style="justify-content: center; margin-right: 10px;">Crie seu perfil, é rápido e fácil, em poucos minutos
          poderá entrar em contato com diversos profissionais. </h2>
      </div>

      <div class="col-md invest-item">
        <h1 style="display:flex; justify-content: center; margin-right: 10px; "> 2 </h1>
        <h2 style="justify-content: center; margin-right: 10px;">Selecione os melhores candidatos de acordo com o que
          você procura, entre em contato e combine os valores e pronto. </h2>
      </div>

      <div class="col-md invest-item">
        <h1 style="display:flex; justify-content: center; margin-right: 10px; "> 3 </h1>
        <h2 style="justify-content: center; margin-right: 10px;">Avalie sua experiência com a EasyJob e dê sua nota
          aos profissionais. Só assim podemos cultivar os melhores </h2>
      </div>
    </div>
  </div>
</section>

<section class="vantagens">
  <div class="container">
    <h1>Mais fácil contratar sua equipe sob demanda.</h1>
    <div class="row">
      <div class="col-md vantagens-itens">
        <div class="img-vantagens">
          <img class="lozad" src="./img/monitor-window.svg" loading="lazy" alt="icone">
        </div>
        <h2>Acesso Online</h2>
        <p>Acesse a nossa plataforma e escolha o profissional por especialidade é rápido e simples.</p>
      </div>

      <div class="col-md vantagens-itens">
        <div class="img-vantagens">
          <img class="lozad" src="./img/sign.png" loading="lazy" alt="icone">
        </div>
        <h2>Profissionais Qualificados</h2>
        <p>Os profissionais recebem qualificassões a cada serviço prestado, assim podemos entregar uma fiel opinião
          sobre a qualidade do serviço.</p>
      </div>

      <div class="col-md vantagens-itens">
        <div class="img-vantagens">
          <img class="lozad" src="./img/phone.png" loading="lazy" alt="icone">
        </div>
        <h2>Contato direto</h2>
        <p>Faça contato com os profissionais e crie sua rede de contatos. </p>
      </div>
    </div>
  </div>
</section>
<h2 style="display: flex; justify-content: center;" class="text-center">Alguns Serviços disponivéis na plataforma.</h2>
<section class="invest">
  <div class="container col-md-12 ">
    <div class="row proffy">

      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img class="lozad" src="./img/garçom.jpg" style="width: 450px;">
        <h3>Garçom</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img class="lozad" src="./img/recepcionista.jpg" style="width: 450px;">
        <h3>Recepcionista</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img class="lozad" src="./img/cozinheiro.jpg" style="width: 450px;">
        <h3>Cozinheiro(a)</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img class="lozad" src="./img/segurança.jpg" style="width: 450px;">
        <h3>Segurança</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img class="lozad" src="./img/motoboy.jpg" style="width: 450px;">
        <h3>Motoboy</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img class="lozad" src="./img/banda.jpg" style="width: 450px;">
        <h3>Banda/Músico</h3>
      </div>
    </div>
  </div>
  <h2 style="display: flex; justify-content: center; color:white;">E Mais ...</h2>
</section>

<section class="conta">
  <div class="container">
    <div class="row">

      <div class="col-md conta-campos">
        <h2 >Crie sua Conta</h2>
        <br />
        <div>
          <a ui-sref="loginestablish" ui-sref-active="active" class="btn btn-primary my-2 my-sm-2"
            style="width: 300px; height: 60px; display: flex; justify-content: center; font-size: 30px;">Quero
            Contratar</a>
          <br>
          <a ui-sref="loginfreelancer" ui-sref-active="active" class="btn btn-primary my-2 my-sm-2"
            style="width: 300px; height: 60px; display: flex; justify-content: center; font-size: 30px;">Quero
            Trabalhar</a>
        </div>

      </div>

      <div class="col-md">
        <div class="conta-icone">
          <img src="./img/customer-service-woman.svg" class="lozad" alt="icone da conta" class="conta-item">
          <h5>Precisa de Ajuda? deixe sua Mensagem.</h5>
          <button class="btn btn-primary my-2 my-sm-4" style="display: flex; justify-content: right;">Entrar em
            contato</button>
        </div>
      </div>
    </div>
  </div>
</section>