<div ng-app="easyjob" ng-controller="SearchController">
  <div class="hero-wrap img">
    <div class="overlay"></div>
    <div class="container">
      <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-10 d-flex align-items-center ftco-animate">
          <div class="text text-center pt-0 mt-md-0">
            <p class="mb-4">Garçons, Cozinheiros, e vários outros serviços..</p>
            <h1 class="mb-5">
              Contratar freelancers para seu negócio agora ficou fácil.
            </h1>

            <div class="ftco-search my-md-5">
              <div class="row">
                <div class="col-md-12 card">
                  <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  </div>
                </div>
                <div class="col-md-12 tab-wrap">
                  <div class="tab-content p-4" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                      aria-labelledby="v-pills-nextgen-tab">
                      <form action="#" class="search-job">
                        <div class="row no-gutters">
                          <div class="col-md mr-md-2">
                            <div class="form-group">
                              <div class="form-field">
                                <div class="select-wrap">
                                  <div class="icon"><span></span></div>
                                  <select name="" id="" class="form-control">
                                    <option value="">Especialidade</option>
                                    <option value="">Garçom/Garçonete</option>
                                    <option value="">Recepcionista</option>
                                    <option value="">Banda/Músico</option>
                                    <option value="">Segurança</option>
                                    <option value="">Motoboy</option>
                                    <option value="">Cozinheiro(a)</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md mr-md-2">
                            <div class="form-group">
                              <div class="form-field">
                                <div class="select-wrap">
                                  <div class="icon"><span></span></div>
                                  <select name="" id="" class="form-control">
                                    <option value="">Período</option>
                                    <option value="">Horário Comercial</option>
                                    <option value="">Manhã</option>
                                    <option value="">Tarde</option>
                                    <option value="">Noite</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md mr-md-2">
                            <div class="form-group">
                              <div class="form-field">
                                <div class="icon">
                                  <span class="icon-map-marker"></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Localidade" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-group">
                              <div class="form-field">
                                <button type="submit" class="form-control btn btn-primary"
                                  style="background-color: #4455dd">
                                  Buscar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>