<section ng-controller="MainController">
    <section class="intro-inscri">
    <h1>Confirme Sua Inscrição</h1>
    </section>

    <section class="inscri-cadastro">
    <div class="inscri-progress">
      <div class="ponto-1"></div>
      <div class="progress-1"></div>
      <div class="ponto-2" style="top: -25px;background: #4455DD;"></div>
      <div class="progress-2"></div>
      <div class="ponto-3" style="top: -43px;background: #4455DD;"></div>
    </div>

    <div class="inscri-progress-info">
      <div class="inscri-progress-info-item">
        <h2>1-Etapa</h2>
        <span>Dados Pessoais</span>
      </div>
      <div class="inscri-progress-info-item" style="margin-right: 25px;">
        <h2>2-Etapa</h2>
        <span>Endereço</span>
      </div>
      <div class="inscri-progress-info-item">
        <h2>3-Etapa</h2>
        <span>Instruções</span>
      </div>
    </div>

    <div class="container-fluid container-inscri-3 text-center">
      <h4>Obrigado pelo seu cadastro.<br>Você receberá um e-mail de verificação para finalizar seu cadastro.</h4>
      <div class="inscri-3-monitor">
        <img src="./img/monitor-cash-credit-card.svg" loading="lazy" alt="icone">
      </div>
    </div>

  </section>
</section>