<section ng-controller="MainController">

  <section class="intro-inscri">
    <h1>Faça a Sua Inscrição</h1>
  </section>

  <section class="inscri-cadastro">
    <div class="inscri-progress">
      <div class="ponto-1"></div>
      <!-- <div class="progress-1"></div> -->
      <div class="ponto-2"></div>
      <div class="ponto-3"></div>
    </div>

    <div class="inscri-progress-info">
      <div class="inscri-progress-info-item">
        <h2>1-Etapa</h2>
        <span>Dados Pessoais</span>
      </div>
      <div class="inscri-progress-info-item" style="margin-right: 25px;">
        <h2>2-Etapa</h2>
        <span>Endereço</span>
      </div>
      <div class="inscri-progress-info-item">
        <h2>3-Etapa</h2>
        <span>Instruções</span>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <form class="col-12" name="establish" ng-submit="SignInStablish()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nome</label>
              <input type="text" class="form-control" ng-model="name" name="name" id="inputEmail4" placeholder="Nome Completo" required>
              <div ng-if="establish.name.$invalid && establish.name.$touched" style="color:red">
                <div ng-if="establish.name.$error.required">O campo nome é obrigatório</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="razaoSocial">Razão Social</label>
              <input type="text" class="form-control" ng-model="razaoSocial" name="razaosocial" id="razaosocial" placeholder="Razão Social">
            </div>
            <div ng-if="establish.razaosocial.$invalid && establish.razaosocial.$touched" style="color:red">
              <div ng-if="establish.razaosocial.$error.required">O campo razão soacial é obrigatório</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Email1">Endereço de email</label>
              <input
                type="email"
                ng-model="email"
                class="form-control"
                id="Email1"
                name="email1"
                aria-describedby="emailHelp"
                placeholder="Seu email"
                required
              />
              <div ng-if="establish.email1.$invalid && establish.email1.$touched" style="color:red">
                <div ng-if="establish.email1.$error.required">O campo e-mail é obrigatório</div>
                <div ng-if="establish.email1.$error.email">O e-mail digitado não é válido.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="Email2">Repita o Endereço de email</label>
              <input
                type="email"
                ng-model="repeatEmail"
                class="form-control"
                id="Email2"
                name="email2"
                aria-describedby="emailHelp"
                placeholder="Seu email"
                required
              />
              <div ng-if="establish.email2.$invalid && establish.email2.$touched" style="color:red">
                <div ng-if="establish.email2.$error.required">O campo e-mail é obrigatório</div>
                <div ng-if="establish.email2.$error.email">O e-mail digitado não é válido.</div>
              </div>
              <div style="color:red" ng-if="email !== repeatEmail">O e-mail deve ser igual ao digitado anteriormente.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCNPJ">CNPJ</label>
              <input type="text" ng-model="cnpj" name="cnpj" class="form-control" id="inputCNPJ" placeholder="CNPJ">
            </div>
            <div ng-if="establish.cnpj.$invalid && establish.cnpj.$touched" style="color:red">
              <div ng-if="establish.cnpj.$error.required">O campo CNPJ é obrigatório</div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress">Telefone</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="(xx) x xxxx-xxxx">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password">Senha</label>
              <input
                type="password"
                class="form-control"
                ng-model="password"
                id="password"
                ng-minlength="6"
                name="password"
                aria-describedby="senha do usuario"
                placeholder="digite uma senha"
                required
              />
              <div ng-if="establish.password.$invalid && establish.password.$touched" style="color:red">
                <span ng-class="error" ng-show="establish.password.$error.minlength">Não é permitido menos que 6 digitos</span>
                <div ng-if="establish.password.$error.required">O campo senha é obrigatório</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="repitasenha">Repita Sua Senha</label>
              <input
                type="password"
                ng-model="repeatPassword"
                class="form-control"
                id="repitasenha"
                ng-minlength="6"
                name="repitasenha"
                placeholder="repita sua senha"
                required
              />
              <div ng-if="establish.repitasenha.$invalid && establish.repitasenha.$touched" style="color:red">
                <span ng-class="error" ng-show="establish.repitasenha.$error.minlength">Não é permitido menos que 6 digitos</span>
                <div ng-if="establish.repitasenha.$error.required">O campo repita senha é obrigatório</div>
              </div>
              <div style="color: red;" ng-if="repeatPassword !== password">O campo senha e repita senha devem ser iguais!</div>
            </div>
          </div>
        </form>
        <div class="col-12 text-right">
          <button class="btn btn-primary" ng-disabled="!establish.$valid" type="submit">Próxima Etapa</button>
        </div>
      </div>
    </div>
  </section>
</section>