<footer >
    <div class="container">
      <div class="row">
        <div class="col-md footer-item">
          <h2>Mapa do Site</h2>
          <div class="row footer-info-item">
            <div class="col-md">
              <span>- Home</span>
              <span>- Contratar</span>
              <span>- Trabalhar</span>
            </div>

            <div class="col-md">
              <span>- Login</span>
              <span>- Termos</span>
              <span>- Contato</span>
            </div>
          </div>
        </div>

        <div class="col-md footer-item">
          <h2>Redes Sociais</h2>

          <div class="redes-sociais-item">
            <img src="../../../assets/facebook.svg" alt="facebook" />
          </div>
          <div class="redes-sociais-item">
            <img src="../../../assets/instagram.svg" alt="Instagram" />
          </div>
          <div class="redes-sociais-item">
            <img src="../../../assets/twitter.svg" alt="twitter" />
          </div>
        </div>

        <div class="col-md footer-item">
          <h2>Sobre</h2>
          <p>
            Estamos dispostos a transformar as relações de trabalho e
            desburocratizar o processo de contratalção para seu evento, bar,
            restaurante, trazendo os melhores profissionais até você.
          </p>
        </div>
      </div>
    </div>
  </footer>