<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand logo" href="#">
                <img src="../../../assets/logo2.svg" loading="lazy" class="img-fluid" alt="Logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item active" >
                        <a class="nav-link" >Quero Contratar</a>
                    </li>
                    <li class="nav-item active" >
                        <a class="nav-link" >Quero Trabalhar</a>
                    </li>
                    <li class="nav-item active" >
                        <a class="nav-link" >Cadastre-se</a>
                    </li>
                    <li class="nav-item active ml-5" >
                        <a><button
                                class="btn btn-primary my-2 my-sm-0" type="submit">
                                Acessar
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>