<section class="vantagens">
    <div class="container">
      <h1 class="font-primary">Mais fácil contratar sua equipe sob demanda.</h1>
      <div class="row col-md-12">
        <div class="col-md-4 text-center">
          <div class="img-vantagens">
            <img src="../../../assets/monitor-window.svg" loading="lazy" alt="icone">
          </div>
          <h2>Acesso Online</h2>
          <p>Acesse a nossa plataforma e escolha o profissional por especialidade é rápido e simples.</p>
        </div>
  
        <div class="col-md-4 text-center">
          <div class="img-vantagens">
            <img src="../../../assets/sign.png" loading="lazy" alt="icone">
          </div>
          <h2>Profissionais Qualificados</h2>
          <p>Os profissionais recebem qualificassões a cada serviço prestado, assim podemos entregar uma fiel opinião
            sobre a qualidade do serviço.</p>
        </div>
  
        <div class="col-md-4 text-center">
          <div class="img-vantagens">
            <img src="../../../assets/phone.png" loading="lazy" alt="icone">
          </div>
          <h2>Contato direto</h2>
          <p>Faça contato com os profissionais e crie sua rede de contatos. </p>
        </div>
      </div>
    </div>
  </section>