<style>
  .card-edit {
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .card-edit:hover {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  a:link {
    text-decoration: none
  }
</style>

<section class="inscri-cadastro" ng-controller="SelectController">

  <div class="container">
    <div class="row" style="display: flex; justify-content: center">
      <div class="card col-6 col-sm-3 col-xl-3 card-edit" style="width: 20rem; margin: 0.6rem">
        <a ui-sref="signestablish" ui-sref-active="active" alt="Contratar">
          <img src="./img/restaurante.png" alt="Contratar">
          <h5 class="card-title text-center">Quero Contratar</h5>
        </a>
      </div>

      <div class="card col-6 col-sm-3 col-xl-3 card-edit" style="width: 20rem; margin: 0.6rem">
        <a ui-sref="signfreelancer" ui-sref-active="active" alt="Trabalhar">
          <img src="./img/job.png" alt="Trabalhar">
          <h5 class="card-title text-center">Quero Trabalhar</h5>
        </a>
      </div>

    </div>

  </div>
</section>