<style>
  .labelsUnit {
    font-size: 14px;
  }
  *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
</style>


<div >
  <div class="container">
    <a ui-sref="salesestablish" ui-sref-active="active"><i class="fa fa-reply fa-2x voltar" style="
          z-index: 99999;
          position: absolute;
          color: white;
          cursor: pointer;
          margin-top: 0.5rem;
        " aria-hidden="true"></i></a>
  </div>
  <div class="hero-wrap hero-wrap-0" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-12 text-center mb-10">
          <h1 class="mb-3 bread">Meus Serviços</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
    <div class="container" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; margin: 0 auto; padding: 30px;">
      <div class="row">
        <div class="col-lg-12 pr-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div ng-hide="jobList[0]" class="col-md-12 text-center">
                <div>
                  <h3>Nenhum serviço encontrado</h3>
                </div>
              </div>

              <div  class="job-post-item p-4 d-block d-lg-flex align-items-center" ng-repeat="item in jobList">
                <div class="one-third mb-4 mb-md-0">
                  <div class="job-post-item-header align-items-center">

                    <h2 class="mr-3 text-black">
                      <a href="#">{{item.title}}</a>
                    </h2>
                    <div>
                      <strong><span class="badge badge-success"
                          style="font-size: 16px; padding: 5px;margin: 4px;">Hora de entrada:
                        </span>
                        <span class="labelsUnit badge badge-primary">{{item.begin_time}}</span>
                      </strong>
                      <strong><span class="badge badge-success"
                          style="font-size: 16px; padding: 5px;margin: 4px;">Hora de saída:
                        </span>
                        <span class="labelsUnit badge badge-primary">{{item.end_time}}</span>
                      </strong>

                    <strong><span class="text-right badge badge-primary"
                        style="position: relative; font-size: 24px; padding: 5px;margin: 4px; left: 50%;" ng-if="time"> {{time}}
                      </span>
                   
                    </strong>
                    </div>
                    

                    <strong><span class="badge badge-success" style="font-size: 16px; padding: 5px; margin: 4px;">Data:
                      </span>
                      <span class="labelsUnit badge badge-primary">{{formatDate(item.date)}}
                      </span>

                    </strong>

                    <br>

                    <br>
                    <label>
                      <span class="text-success " style="font-size: 20px; padding: .7rem;">
                        <strong>R${{item.amount}},00 / Hora</strong>
                      </span>
                    </label>
                  </div>
                  <label>
                    <span class="text-primary" style="font-size: 20px; padding: .7rem;">  
                      <strong >{{item.accepted}}</strong>     
                    </span>
                  </label>
                  <div class="mr-5">
                    <br>

                    <div class="job-post-item-body d-block d-md-flex">
                      <div>
                        <span class="fa fa-" style="color: black"></span>
                        <span>{{item.comment}}</span>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="job-post-item-body d-block d-md-flex">
                    <div class="mr-3">
                      <span class="icon-layers"></span>
                      <a href="#">{{item.establishment.company_name}}</a>
                    </div>
                    <div>
                      <span class="fa fa-map-marker" style="color: black"></span>
                      <span>{{item.establishment.address.public_place }} ,{{item.establishment.address.number}}
                        {{item.establishment.address.neighborhood}} {{item.establishment.address.city}}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                  <!-- <div>
                    <a
                      href="#"
                      class="icon text-center d-flex justify-content-center align-items-center icon mr-2"
                    >
                      <span class="icon-heart"></span>
                    </a>
                  </div> -->
                  <div class="col-md-12">
                    <div class="col-md-12" ng-if="item.accepted === 'Aceito'">
                      <button ng-click="endService(item.id)" class="btn btn-primary col-md-12" style="margin: 2px; cursor: pointer;"> Finalizar</button>
                    </div>
                    <div class="col-md-12" ng-if="item.accepted === 'Finalizado'">
                      <button class="btn btn-success col-md-12" style="margin: 2px; cursor: pointer;" 
                       name="btnAddMore"  ng-click="openModalrate(item.id);" data-toggle="modal" 
                       data-target=".cd-example-modal-xl"> Avaliar</button>
                    </div>
                    <div class="col-md-12" ng-if="showOptions">
                      <button ng-click="deleteById(item.id)" class="btn btn-danger col-md-12" style="margin: 2px; cursor: pointer;"> Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade cd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="margin-top: 80px;">
      <div class="modal-content container col-md-12" >
          <h1 class="text-center" style="position: relative; margin: 20px;"> Avaliação de prestação de serviço</h1>
          <form class="text-center" style="position: relative; left: 100px;">
              <div class="row col-md-10 text-center">
                  <div class="col-md-3 text-center">
                    <label for="begin_time"><strong>Avaliação do profissional</strong> </label>
                    <div class="rate form-control" style="width: auto;">
                      <input type="radio" id="star5" name="rate" value="5" ng-model="rate"/>
                      <label for="star5" title="5 Estrelas">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" ng-model="rate" />
                      <label for="star4" title="4 Estrelas">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" ng-model="rate" />
                      <label for="star3" title="3 Estrelas">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" ng-model="rate" />
                      <label for="star2" title="2 Estrelas">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" ng-model="rate" />
                      <label for="star1" title="1 Estrela">1 star</label>
                    </div>
                  </div>
                 
                  <div  style="position: relative; margin-top: 40px; width: 100%;">
                      <label for="obs"><strong>Observações</strong> </label>
                      <textarea class="col-md-12 form-control" cols="5" rows="5" type="text" id="obs" ng-model="messageRate" placeholder="Digite aqui um informação que você acha importante!"/>
                  </div>

                  <div class="col-md-12" style="position: relative; margin-top: 40px; margin-bottom: 40px;" >
                      <div class="col-md-12">
                          <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                          <button class="btn btn-primary" ng-click="rateService();">Enviar</button>
                      </div>
                      <div class="col-md-12">
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
  </div>