<style>
  .card-edit {
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .card-edit:hover {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  a:link {
    text-decoration: none
  }
</style>


<div>

    <div class="hero-wrap hero-wrap-0" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 text-center mb-10">
              <h1 id="welcomeUser" class="mb-3 bread">Bem Vindo {{name}}</h1>
            </div>
          </div>
        </div>
      </div>

  <section class=" bg-light"></section>
  <div class="container-fluid col-md-12 col-sm-12">
    <div class="row" style="display: flex; justify-content: center">
      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="profileestablish" ui-sref-active="active" alt="perfil">
          <img class="lozad" src="./img/perfil.png" alt="Contratar">
          <h5 class="card-title text-center">Meu Perfil</h5>
        </a>
      </div>

      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="searchfreelancer" ui-sref-active="active" alt="Anúncios">
          <img class="lozad" src="./img/anuncio.png" alt="Contratar">
          <h5 class="card-title text-center">Buscar Profissional</h5>
        </a>
      </div>

      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="home" ui-sref-active="active" alt="Serviços">
            <span class="badge badge-pill badge-primary" ng-show="jobCount > 0" 
              style="position: absolute; width: 30px; font-size: 17px; display: flex; right: 5px; top: 5px;">{{jobCount}}</span>
          <img class="lozad" src="./img/hand.png" alt="Contratar">
          <h5 class="card-title text-center">Serviços</h5>
        </a>
      </div>

      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="chat" ui-sref-active="active" alt="Chat">
          <span class="badge badge-pill badge-primary" ng-show="chatCount > 0" 
            style="position: absolute; width: 30px; font-size: 17px; display: flex; right: 5px; top: 5px;">{{chatCount}}</span>
          <img class="lozad" src="./img/chat.png" alt="Trabalhar">
          <h5 class="card-title text-center">Chat</h5>
        </a>
      </div>

    </div>

  </div>
</div>