<style>
#subir{
	position:fixed;
	bottom:8px;
	right:8px;
}
</style>

<div ng-app="easyjob">

  <div class="hero-wrap img" style="height: 500px;">
    <div class="overlay"></div>
    <div class="container">
      <a ui-sref="salesestablish" ui-sref-active="active"><i class="fa fa-reply fa-2x voltar"
          style="z-index: 99999; position:absolute; color: white; cursor: pointer; margin-top: 0.5rem; "
          aria-hidden="true"></i></a>
      <div class="row slider-text align-items-center justify-content-center">
        <div>
          <div class="text text-center pt-0 mt-md-0" style="top: -178px;">
            <p class="mb-5">Garçons, Cozinheiros, e vários outros serviços..</p>
            <h1 class="mb-5">
              Contratar Freelancer para seu negócio agora ficou fácil.
            </h1>

            <div class="ftco-search my-md-5">
              <div class="row">
                <div class="col-md-12 card">
                  <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  </div>
                </div>
                <div class="col-md-12 tab-wrap">
                  <div class="tab-content p-4" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                      aria-labelledby="v-pills-nextgen-tab">
                      <form action="#" class="search-job">
                        <div class="row no-gutters">
                          <div class="col-md mr-md-2">
                            <div class="form-group">
                              <div class="form-field">
                                <div class="select-wrap">
                                  <label>Especialidade</label>
                                  <div class="icon"><span></span></div>
                                  <select class="form-control" id="inputSpeciality" ng-model="speciality"
                                    name="speciality1"
                                    ng-options="item as item.speciality_function for item in specilities track by item.id"
                                    required>
                                    <option value="-1" selected >Especialidade</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md mr-md-2">
                            <div class="form-group">
                              <div class="form-field">
                                <div class="select-wrap">
                                  <label>Turno</label>
                                  <div class="icon"><span></span></div>
                                  <select name="" id="" class="form-control" ng-model="turn">
                                    <option value="">Turno</option>
                                    <option value="Manhã">Manhã</option>
                                    <option value="Tarde">Tarde</option>
                                    <option value="Noite">Noite</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md mr-md-2">
                            <div class="form-group">
                              <div class="form-field">
                                <div class="select-wrap">
                                  <label>Dias da semana</label>
                                  <div class="icon"><span></span></div>
                                  <select name="" id="" class="form-control" ng-model="dayOfWeek">
                                    <option value="">Dias da semana</option>
                                    <option value="Domingo">Domingo</option>
                                    <option value="Segunda">Segunda</option>
                                    <option value="Terça">Terça</option>
                                    <option value="Quarta">Quarta</option>
                                    <option value="Quinta">Quinta</option>
                                    <option value="Sexta">Sexta</option>
                                    <option value="Sábado">Sábado</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md mr-md-2">
                            <div class="form-group">
                              <div class="form-field">
                                <label>Localidade</label>
                                <div class="icon">
                                  <span class="icon-map-marker"></span>
                                </div>
                                <input type="text" id="localidade" ng-model="locale" ng-change="autoCompleteLocale()"
                                  class="form-control" placeholder="Localidade" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-group">
                              <div class="form-field">
                                <label ></label>
                                <button style="position: relative; top: 8px;" class="form-control btn btn-primary"
                                  style="background-color: #4455dd" ng-click="searchAnnouncementsByFilter()">
                                  Buscar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 pr-lg-4">
        <div class="row">
          <div class="col-md-12" ng-repeat="anuncio in anuncios" data-infinit-scroll-page="loadMore()">
            <div class="team d-md-flex p-4 bg-white">
              <div><img class="img" src="./img/segurança.jpg">

                <span class="position" style="color: #4457fd;">{{anuncio.name}}</span>

              </div>
              <div class="text pl-md-4">
                <span class="location mb-0">{{anuncio.city}}</span>
                <h2>{{anuncio.title}}</h2>
                <span class="position">{{anuncio.speciality}}</span>
                <span class="text-success " style="font-size: 15px; padding: .7rem;">
                  <strong>R${{anuncio.amount}},00</strong>
                </span>
                <p class="mb-2">{{anuncio.decription}}</p>
                <div>
                  <strong><span class="badge badge-success" style="font-size: 16px; padding: 5px;margin: 4px;">Turno:
                    </span>
                    <span class="labelsUnit badge badge-primary">{{anuncio.period[0][0]}}</span>
                    <span class="labelsUnit badge badge-primary">{{anuncio.period[0][1]}}</span>
                    <span class="labelsUnit badge badge-primary">{{anuncio.period[0][2]}}</span>
                  </strong>
                </div>
                <strong><span class="badge badge-success" style="font-size: 16px; padding: 5px; margin: 4px;">Dias
                    da semana:
                  </span>
                  <span class="labelsUnit badge badge-primary">{{anuncio.day_of_week[0][0]}}</span>
                  <span class="labelsUnit badge badge-primary">{{anuncio.day_of_week[0][1]}}</span>
                  <span class="labelsUnit badge badge-primary">{{anuncio.day_of_week[0][2]}}</span>
                  <span class="labelsUnit badge badge-primary">{{anuncio.day_of_week[0][3]}}</span>
                  <span class="labelsUnit badge badge-primary">{{anuncio.day_of_week[0][4]}}</span>
                  <span class="labelsUnit badge badge-primary">{{anuncio.day_of_week[0][5]}}</span>
                  <span class="labelsUnit badge badge-primary">{{anuncio.day_of_week[0][6]}}</span>

                </strong>
                <br>
                <span class="seen" style="color: gold"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                  <strong style="margin:3px; color:grey;">4,89</strong></span>
                <p><a href="" ng-click="announcementSelect(anuncio.id);" class="btn btn-primary">Mais detalhes</a></p>
              </div>
            </div>
          </div>
          <div ng-show='busy'>Carregando ...</div>
         
        </div>
      </div>
     
    </div>
  </div>
</section>
<div id="subir">
  <a href="" ng-click="goToUp();"><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></a>
</div>