<style>
  .click {
    cursor: pointer;
    color: #4455dd;
  }

  .click:hover {
    color: blueviolet;
  }
</style>

<section ng-controller="MainController">
  <section class="intro-inscri">
    <h1>Faça a sua Inscrição</h1>
  </section>

  <section class="inscri-cadastro">
    <div class="inscri-progress">
      <div class="ponto-1"></div>
      <div class="progress-1"></div>
      <div class="ponto-2" style="top: -25px; background: #4455dd"></div>
      <div class="ponto-3" style="top: -41px"></div>
    </div>

    <div class="inscri-progress-info">
      <div class="inscri-progress-info-item">
        <h2>1-Etapa</h2>
        <span>Dados Pessoais</span>
      </div>
      <div class="inscri-progress-info-item" style="margin-right: 25px">
        <h2>2-Etapa</h2>
        <span>Dados Profissionais</span>
      </div>
      <div class="inscri-progress-info-item">
        <h2>3-Etapa</h2>
        <span>Instruções</span>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <form class="col-12" novalidate name="establish2" ng-submit="createEstablish()">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCEP">CEP</label>
              <input type="text" class="form-control" ng-model="cep" id="inputCEP" name="cep" placeholder="xxxxx-xxx"
                ng-blur="findCep();" />
              <div ng-if="establish2.cep.$invalid && establish2.cep.$touched" style="color: red">
                <div ng-if="establish2.cep.$error.required">
                  O campo CEP é obrigatório
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEstado">UF</label>
              <select id="inputEstado" class="form-control" ng-model="uf" disabled name="uf"
                ng-options="item for item in ufs">
                <option value="" selected>Estado ...</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="logradouro">Logradouro</label>
              <input type="text" class="form-control" id="logradouro" name="logradouro" ng-model="logradouro"
                aria-describedby="Avenida / Rua" placeholder="Avenida / Rua" />
              <div ng-if="establish2.logradouro.$invalid && establish2.logradouro.$touched" style="color: red">
                <div ng-if="establish2.logradouro.$error.required">
                  O campo Logradouro é obrigatório
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="numero">Número</label>
              <input type="text" class="form-control" id="numero" name="numero" ng-model="numero"
                placeholder="Número" />
              <div ng-if="establish2.numero.$invalid && establish2.numero.$touched" style="color: red">
                <div ng-if="establish2.numero.$error.required">
                  O campo Número é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bairro">Bairro</label>
              <input type="text" class="form-control" id="bairro" ng-model="bairro" aria-describedby="Bairro"
                placeholder="Bairro" />
            </div>
            <div class="form-group col-md-6">
              <label for="municipio">Município</label>
              <input type="text" class="form-control" id="municipio" name="city" ng-model="city" disabled
                placeholder="Município" />
            </div>
          </div>
          <div class="text-right">
            <input type="checkbox" id="termos" name="termos" ng-model="termos" />
            <div ng-if="establish2.termos.$invalid && establish2.termos.$touched"></div>
            <label for="termos">
              <div>Concordo com os <a style="color: #4455dd; cursor:pointer; "
                  ng-click="openTermos('freelancer');">termos de Uso</a></div>
            </label>

          </div>

        </form>
        <div class="col-6 text-left">
          <a class="btn btn-primary" ui-sref="signfreelancer" ui-sref-active="active">Etapa Anterior</a>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-primary" ng-disabled="!establish2.$valid || !termos" ng-click="createEstablish();">
            Cadastrar
          </button>
        </div>
      </div>
    </div>
  </section>
</section>