
<h2 style="display: flex; justify-content: center;" class="text-center font-primary">Alguns Serviços disponivéis na plataforma.</h2>
<section class="invest">
  <div class="container col-md-12 ">
    <div class="row proffy">

      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img src="../../../assets/garçom.jpg" style="width: 450px;" alt="Garçom">
        <h3>Garçom</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img src="../../../assets/recepcionista.jpg" style="width: 450px;" alt="Recepcionista">
        <h3>Recepcionista</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img src="../../../assets/cozinheiro.jpg" style="width: 450px;" alt="Cozinheiro">
        <h3>Cozinheiro(a)</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img src="../../../assets/segurança.jpg" style="width: 450px;" alt="Segurança">
        <h3>Segurança</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img src="../../../assets/motoboy.jpg" style="width: 450px;" alt="Motoboy">
        <h3>Motoboy</h3>
      </div>
      <div class="col-5 col-sm-3 col-xl-3 invest-item">
        <img src="../../../assets/banda.jpg" style="width: 450px;" alt="Banda/Músico">
        <h3>Banda/Músico</h3>
      </div>
    </div>
  </div>
  <h2 style="display: flex; justify-content: center; color:white;">E Mais ...</h2>
</section>