<div class="container intro mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 id="hide1" style="display: block">Freelancers</h1>
            <h2 id="hide2" style="display: block" class="font-secondary">Seja encontrado pelos melhores estabelecimentos
                e eventos.</h2>
            <h1 id="hide3" style="display: none">Estabelecimentos</h1>
            <h2 id="hide4" style="display: none" class="font-secondary">Encontre os melhores profissionais para seu
                evento ou estabelecimento.</h2>
            <br />
            <br />
            <a alt="contratar">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    <a  style="text-decoration: none; color: white;">Começar</a></button>
            </a>
        </div>

        <div class="col-md-6">
            <div class="img-intro">
                <img src="../../../assets/notre-dame.svg" loading="lazy" class="img-fluid" alt="icone">
            </div>
        </div>
    </div>
</div>

<section class="invest">
    <div class="container">
        <div class="row">

            <div class="col-md invest-item">
                <h1 style="display:flex; justify-content: center; align-self: center;"> 1 </h1>
                <h2 style="justify-content: center; margin-right: 10px;">Crie seu perfil! É rápido, fácil e em poucos
                    minutos,
                    você poderá entrar em contato com diversos profissionais! </h2>
            </div>

            <div class="col-md invest-item">
                <h1 style="display:flex; justify-content: center; margin-right: 10px; "> 2 </h1>
                <h2 style="justify-content: center; margin-right: 10px;">Selecione os melhores candidatos para o
                    trabalho, de acordo com o que você procura.
                    Depois, entre em contato e combine os valores e pronto! </h2>
            </div>

            <div class="col-md invest-item">
                <h1 style="display:flex; justify-content: center; margin-right: 10px; "> 3 </h1>
                <h2 style="justify-content: center; margin-right: 10px;">Avalie sua experiência com o EasyJob e dê sua
                    nota aos profissionais.
                    Dessa maneira, os melhores profissionais serão reconhecidos! </h2>
            </div>
        </div>
    </div>
</section>