<section class="conta">
    <div class="container">
      <div class="row">
  
        <div class="col-md conta-campos">
          <h2 >Crie sua Conta</h2>
          <br />
          <div>
            <a ui-sref="loginestablish" ui-sref-active="active" class="btn btn-primary my-2 my-sm-2"
              style="width: 300px; height: 60px; display: flex; justify-content: center; font-size: 30px;">Quero
              Contratar</a>
            <br>
            <a ui-sref="loginfreelancer" ui-sref-active="active" class="btn btn-primary my-2 my-sm-2"
              style="width: 300px; height: 60px; display: flex; justify-content: center; font-size: 30px;">Quero
              Trabalhar</a>
          </div>
  
        </div>
  
        <div class="col-md">
          <div class="conta-icone">
            <img src="../../../assets/customer-service-woman.svg" class="lozad" alt="icone da conta" class="conta-item">
            <h5>Precisa de Ajuda? deixe sua Mensagem.</h5>
            <button class="btn btn-primary my-2 my-sm-4" style="display: flex; justify-content: right;">Entrar em
              contato</button>
          </div>
        </div>
      </div>
    </div>
  </section>
