<section ng-controller="MainController">
  <section class="intro-inscri">
    <h1>Cadastro Confirmado</h1>
  </section>

  <div class="container-fluid container-inscri-3 text-center">
    <h4>Obrigado pelo seu cadastro.<br>Faça seu Login para começar a usar!.</h4>

    <div class="inscri-3-monitor">
      <img
        src="https://www.iconfinder.com/data/icons/hand-gestures-72/100/thumbs-up-1-hand-gestures-thumbs-up-like-love-approve-agree-favorite-thumb-signal-512.png"
        loading="lazy" alt="icone">
    </div>
    <div>
      <button class="btn btn-primary"><a ui-sref="loginfreelancer"
          style="text-decoration: none; color: white;">Login</a></button>
    </div>
    <br>
  </div>

</section>
</section>