<style>
    .avatar-custom {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    div.avatar-body img {
        display: block;
        margin: 0 auto;
    }
</style>
<div >


    <div class="container " style="padding: .9rem">
        <a ui-sref="salesfreelancer" ui-sref-active="active"><i class="fa fa-reply fa-2x voltar"
            style="z-index: 99999; position:absolute; color: black; cursor: pointer; margin-top: 0.5rem; "
            aria-hidden="true"></i></a>
        <div class="overlay"></div>
        <div class="avatar-body">
            <img src="./img/segurança.jpg" class="avatar-custom img-circle img-thumbnail" alt="avatar">

            <input type="file" class="text-center center-block file-upload" style="display: none">
        </div>
    </div>


    <div class="container" style="border-radius: 2%;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s; margin: 0 auto; padding: 30px;">
        <div class="row col-12">
            <div class="col-md-4 col-12 text-left">
                <div class="">
                    <h3 class="text-left" style="margin: 1.9rem;">Atividades</h3>

                    <div class="form-row">
                        <div class="form-group ">
                            <h6>Anúncios</h6><span>6</span>
                            <h6>Trabalhos prestados</h6><span>6</span>
                            <h6>Reputação</h6><span>4.89 / 5.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bio">Resumo Profissional</label>
                        <textarea class="form-control" id="bio" rows="7"></textarea>
                    </div>

                </div>

            </div>
            <div class="col-md-8">
                <div class="center">
                    <form name="freelancer" novalidate>
                        <h3 class="text-center" style="margin: 1.9rem;">Dados Pessoais</h3>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="username">Nome</label>
                                <input type="text" class="form-control" id="username" ng-model="name" name="username"
                                    placeholder="Nome Completo" required />

                            </div>
                            <div class="form-group col-md-5">
                                <label for="sp_celphones">Telefone</label>
                                <input type="text" class="form-control sp_celphones" ng-model="phone" id="sp_celphones" 
                                    name="sp_celphones" placeholder="(xx) x xxxx-xxxx" required />
            
                            </div>
                            <div class="form-group col-md-5">
                                <label for="birth">Data de Nascimento</label>
                                <input type="date" class="form-control" id="birth" ng-model="birth"
                                    name="birth" placeholder="dd/mm/aaaa" required />
       
                            </div>
                            <div class="form-group col-md-5">
                                <label for="gender">Sexo</label>
                                <select id="gender" class="form-control" ng-model="gender" name="gender" required>
                                    <option value="" selected>Escolher...</option>
                                    <option value="0">Masculino</option>
                                    <option value="1">Feminino</option>
                                </select>
                            </div>

                           </div>
                        </div>
                        <h3 class="text-center" style="margin: 1.9rem;">Endereço</h3>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCEP">CEP</label>
                                <input type="text" class="form-control" id="inputCEP" name="cep"
                                    placeholder="xxxxx-xxx" ng-blur="findCep();" />
                                <div ng-if="freelancer2.cep.$invalid && freelancer2.cep.$touched" style="color: red">
                                    <div ng-if="freelancer2.cep.$error.required">
                                        O campo CEP é obrigatório
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="uf">UF</label>

                                <select id="uf" name="uf" class="form-control">
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="public_place">Logradouro</label>
                                <input type="text" class="form-control" id="public_place" name="logradouro"
                                    aria-describedby="Avenida / Rua"
                                    placeholder="Avenida / Rua" />
                                <div ng-if="freelancer2.logradouro.$invalid && freelancer2.logradouro.$touched"
                                    style="color: red">
                                    <div ng-if="freelancer2.logradouro.$error.required">
                                        O campo Logradouro é obrigatório
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="number">Número</label>
                                <input type="text" class="form-control" id="number" name="numero" 
                                    placeholder="Número" />
                                <div ng-if="freelancer2.numero.$invalid && freelancer2.numero.$touched"
                                    style="color: red">
                                    <div ng-if="freelancer2.numero.$error.required">
                                        O campo Número é obrigatório
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="neighborhood">Bairro</label>
                                <input type="text" class="form-control" id="neighborhood" 
                                    aria-describedby="Bairro" placeholder="Bairro" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="city">Município</label>
                                <input type="text" class="form-control" id="city" name="city" 
                                    disabled placeholder="Município" />
                            </div>

                            <div class="col-12 text-center">
                                <button class="btn btn-primary" ng-click="updateFreelancer()"
                                    >Salvar <i id="salvar" ng-class="salvar"></i></a></button>
                                   
                            </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>