<style>
  .card-edit {
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .card-edit:hover {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  a:link {
    text-decoration: none
  }
</style>


<div ng-controller="FreelancerController">

    <div class="hero-wrap hero-wrap-0" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 text-center mb-10">
              <h1 class="mb-3 bread">Bem-vindo(a)! {{name.split(" ")[0]}}</h1>
            </div>
          </div>
        </div>
      </div>

  <section class=" bg-light"></section>
  <div class="container-fluid col-md-12 col-sm-12">
    <div class="row" style="display: flex; justify-content: center">
      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="profilefreelancer" ui-sref-active="active" alt="perfil">
          <img class="lozad" src="./img/perfil.png" alt="Contratar">
          <h5 class="card-title text-center">Meu Perfil</h5>
        </a>
      </div>

      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="freelancerannouncement" ui-sref-active="active" alt="Anúncios">
          <img class="lozad" src="./img/anuncio.png" alt="Contratar">
          <h5 class="card-title text-center">Meus Anúncios</h5>
        </a>
      </div>

      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="announcementfreelancer" ui-sref-active="active" alt="Novo Anúncio">
          <img class="lozad" src="./img/novo-anuncio.png" alt="Trabalhar">
          <h5 class="card-title text-center">Novo Anúncio</h5>
        </a>
      </div>

      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="signestablish" ui-sref-active="active" alt="Serviços">
          <img class="lozad" src="./img/hand.png" alt="Contratar">
          <h5 class="card-title text-center">Serviços</h5>
        </a>
      </div>

      <div class="card col-4 col-sm-2 col-xl-2  card-edit" style="width: 18rem; margin: 0.5rem">
        <a ui-sref="chat" ui-sref-active="active" alt="Chat">
          <img class="lozad" src="./img/chat.png" alt="Trabalhar">
          <h5 class="card-title text-center">Chat</h5>
        </a>
      </div>

    </div>

  </div>
</div>